<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>jwt-hack</id>
    <version>__VERSION__</version>
    <title>jwt-hack (JWT security toolkit)</title>
    <authors>hahwul</authors>
    <copyright>hahwul</copyright>
    <projectUrl>https://jwt-hack.hahwul.com</projectUrl>
    <iconUrl>https://raw.githubusercontent.com/hahwul/jwt-hack/main/docs/static/images/logo.png</iconUrl>
    <projectSourceUrl>https://github.com/hahwul/jwt-hack</projectSourceUrl>
    <packageSourceUrl>https://github.com/hahwul/jwt-hack/tree/main/packaging/chocolatey</packageSourceUrl>
    <licenseUrl>https://github.com/hahwul/jwt-hack/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <docsUrl>https://jwt-hack.hahwul.com</docsUrl>
    <bugTrackerUrl>https://github.com/hahwul/jwt-hack/issues</bugTrackerUrl>
    <tags>security jwt jws jwe pentest bugbounty cli</tags>
    <summary>High-performance toolkit for testing, analyzing and attacking JSON Web Tokens.</summary>
    <description>jwt-hack decodes, encodes, verifies, cracks and scans JSON Web Tokens (JWS and JWE), generates attack payloads, and ships an MCP server.</description>
    <releaseNotes>https://github.com/hahwul/jwt-hack/releases/tag/v__VERSION__</releaseNotes>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
  </files>
</package>
